$primary-color: #402718;   
$secondary-color: #C3ACA0;
$background: #D9CCC5;
$description: #8B6047;
$border-color: #BFA090;
$bg-details:#B89B8D;

$font-family: "Inter", sans-serif;


$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
