.container-login {
  display: flex;
  background-color: #D9CCC5;


  .coluna-esquerda-login {
    padding: 37px;
  }

  #estante-livros {
    height: 100%;
  }

  .coluna-direita {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    text-align: center;
  }

  .topo {
    margin-bottom: 100px;
  }

  .descricao-login {
    color: #A27A6B;
  }

  .group-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .email-senha {
    font-weight: bold;
  }

  .input-form {
    width: 470px;
    height: 65px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #C3ACA0;
    border: none;
    box-shadow: $drop-shadow;
  }

  .button-primary {
    width: 490px;
    height: 70px;
    background-color: #402718;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }

  .texto-cadastro {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .link-cadastro {
    cursor: pointer;
    color: #8B6047;
  }

  @media (max-width: 600px) {

    .coluna-esquerda-login,
    .coluna-direita {
      width: 100%;
      display: flex;

      align-items: center;
      margin: 0;
    }

    .logo {
      margin-top: 15px;
    }

    .topo {
      margin-bottom: 50px;
    }

    #estante-livros {
      width: 100%;
      height: auto;
    }

    .container-login {
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .coluna-esquerda-login {
      height: 160px;
      padding: 0;
      margin-bottom: -20px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }

    .coluna-direita {
      background-color: #D9CCC5;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      margin-top: -20px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .group-input,
    .input-form,
    .button-primary {
      width: 100%;
      box-sizing: border-box;
    }

    .texto-cadastro {
      margin-top: 0;
    }
  }
}